html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
    border: 2px solid #808080;
    padding: 1rem;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1 0 auto;
    height: 4rem;
    border: 1px solid black;
    padding: 0.5rem;
    font-family: sans-serif;
    font-size: 2rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.control {
    font-weight: 700;
}

.empty-space {
    width: 10rem;
}

button {
    aspect-ratio: 1 / 1;
    width: 5rem;
    font-family: sans-serif;
    font-size: 2rem;
}