html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
    border: 2px solid #808080;
    padding: 1rem;
}

.display {
    flex: 1 0 auto;
    height: 4rem;
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    aspect-ratio: 1 / 1;
    width: 100%;
}

button {
    aspect-ratio: 1 / 1;
    width: calc(100% / 4.5);
    font-family: sans-serif;
    font-size: 2rem;
}